.background-img-1 {
    background-image: url(/images/wedding.png);

}

.background-img-2 {
    background-image: url(/images/banner.png);

}

.background-img-3 {
    background-image: url(/images/people.png);

}

.col-md-3 {}